
@{
    Layout = null;
}

            <div id="precioSev"></div>
            <label class="control-label" style="font-size:20px">Turnos</label>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Hora de ingreso</th>
                        <th>Hora de salida</th>
                        <th>Añadir</th>
                    </tr>
                </thead>
                <tbody>
                    @{var index = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                       
                            <td>@item.HoraInicio</td>
                            <td>@item.HoraFin</td>
                            <td>
                                <a @*id="@index"*@ 
                                 
                                   data-horainicio="@item.HoraInicio" 
                                   data-horafin="@item.HoraFin"
                                   data-idservicio="@item.IdServicio"
                                   data-idturno="@item.IdTurno"
                                   class="btnServicioAdd btn btn-danger" href="/ModoPago/Editar?id=@item.IdTurno"><span class="glyphicon glyphicon-shopping-cart"></span> Añadir</a>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
 




