
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 id="EstoyEnCrearServicio"></h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><h3>Crear servicio</h3></div>
                <div id="inputs" class="panel-body">

                    <form action="/Servicio/Crear" method="post">
                        <div>
                            <label class="control-label">Nombre :</label>
                            <input class="form-control" type="text" name="Nombre" value="@Model.Nombre" />
                            @Html.ValidationMessage("Nombre")
                        </div>
                        <div>
                            <label class="control-label">Precio :</label>
                            <input class="form-control" type="text" name="Precio" value="@Model.Precio" />
                            @Html.ValidationMessage("Precio")
                        </div>
                        <div>
                            <label class="control-label">Aforo :</label>
                            <input class="form-control" type="number" name="Aforo" value="@Model.Aforo" />
                            @Html.ValidationMessage("Aforo")
                        </div>
                        <br />
                        <a class="pull-left btn btn-danger" href="/Servicio/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span>Volver</a>
                        <button id="btnGuardar" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-saved"></span> Guardar</button>

                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Ser").css("background-color", "orange");
    });
</script>